// Fuentes
$fuentePrincipal: 'Outfit', sans-serif;

// Tamaño de Media Queries o tamaños de pantallas
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$cyan: #0891B2;
$azul: #2563EB;
$indigo: #4338CA;
$morado: #7C3AED;
$amarillo:#F59E0B;
$naranja:#ff5500;
$rosa: #DB2777;
$mate: #293241;
$darkgray: #2c3e50;

$blanco: #FFFFFF;
$gris-claro: #F8FAFC;
$gris-oscuro: #1E293B;
$negro: #000;
$gris: #64748B;


$rojo: #a90000;
$verde: #007800;


// Tamaños generales de separaciones en contenedores
$separacion: 5rem;

// Tamaños de grosor de Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900