@use "base/mixins" as m;
@use "base/variables" as v;

.filtro {
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  @include m.shadow;
  @include m.tablet {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    justify-content: space-between;
    gap: 2rem;
  }
  &__formulario {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }

  &__seccion {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    @include m.tablet {
      flex-direction: row;
      margin-bottom: 0;
    }
  }

  &__select {
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: v.$bold;
    outline: none;
    border-radius: 0.5rem;
    border: 1px solid v.$mate;

    @include m.tablet {
      font-size: 2rem;
    }

    &__option {
      background-color: v.$gris-claro;
    }
  }

  &__input {
    all: unset;
    padding: 0.8rem;
    font-size: 1.8rem;
    font-weight: v.$bold;
    background-color: lighten(v.$gris, 30%);
    border-radius: 0.5rem;
    border: 1px solid v.$naranja;
    width: 100%;

    &::placeholder {
      color: v.$gris;
    }
  }

  &__label {
    padding: 1rem 1rem 1rem 0;
    border-radius: 0.5rem;
    font-weight: v.$bold;
    font-size: 2rem;
    color: v.$naranja;
  }

  &__input-fecha {
    padding: 1rem;
    border: 1px solid v.$naranja;
    border-radius: 0.5rem;
    background-color: lighten(v.$gris, 30%);
    font-size: 1.3rem;
    outline: none;
    width: 40rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__boton {
   
    @include m.boton(v.$gris, v.$blanco, "");
    width: auto;
    padding: 1rem 2rem;

    &--pronostico {
      @include m.boton(v.$gris, v.$blanco, flex-end);
      padding: 1rem 2rem;
    }
  }
}
